:root{
    --bs-body-font-family: 'Urbanist', sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    height: calc(100vh - 84px);
    padding-top: 84px;
    overflow: hidden;
}

body {
    height: 100%;
    overflow-y: auto;
}


#hero-section{
    background: rgb(0,255,171);
    background: linear-gradient(55deg, rgb(186, 243, 221) 0%, rgba(54, 224, 199, 0.77) 51%, rgba(0,212,255,0.0760504885547969) 100%), url("../assets/herobg.png");
    background-size: 300ex;
    padding: 5em;
    filter: drop-shadow(0.5rem 0.15rem 20px #676767);
}

#hero-section h1{
    max-width: 100%;
    font-size: 5em;
    filter: drop-shadow(0.5rem 0.15rem 20px #676767);
}


#hero-section p{
    max-width: 100%;
    font-size: 1.5em;
    padding-left: 20%;
    padding-right: 20%;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
}

.home-row{
    display: flex;
    justify-content: center;

    .home-col{
        margin: 3em 1em;
    }
}

.stats-container{
    background: linear-gradient(55deg, rgba(9, 105, 108, 0.63) 0%, rgba(122, 224, 209, 0.77) 51%, rgb(116, 229, 178) 100%);
    filter: drop-shadow(0.5rem 0.15rem 20px #676767);
}

.contact-container{
    margin: 5em;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    backdrop-filter: blur(2em);
    filter: drop-shadow(0rem 0.15rem 5px #afafaf);
    background: rgba(0,0,0,0.4);

    .dark-mode-div{
        display: flex;
        align-items: center;
        padding: 0;
        margin-left: 2em;
    }
    .dark-mode-toggle{
        margin: 0;
        height: 2em;
        width: 3em !important;
    }
    p{
        padding-right: 1em;
        margin: 0;
    }
}

.screen-wipe{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(130, 230, 213, 0.55);
    backdrop-filter: blur(1rem);
    z-index: 2;
}



.navbar{
    opacity: 0.9 !important;
    backdrop-filter: blur(1rem) !important;
}

.login-bg{
    position: fixed;
    opacity: 0.7;
    min-width: 101%;
    min-height: 101%;
    width: auto;
    height: auto;
    filter: blur(0.2rem);
    background-repeat: repeat;
    z-index: -1;
}

.login-container{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-content: center;
    align-items: center;
    width: 100%;

    .login-text-container{
        text-align: center;
        filter: drop-shadow(0px 0px 2px black);
    }

    .login-input-container{
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(5em);
        padding: 40px;
        border-radius: 1em;
        width: 400px;

        .gap-login{
            display: grid;
            gap: 10px;
        }
    }
}

.logout-hover:hover{
    cursor: pointer;
}

.auth-text{
    font-weight: bold;
    font-size: 5em;
}

.auth-desc{
    font-size: 2em;
}

.white-label{
    color: white;
    margin: 0;
}

.location-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;

    .card{
        display: flex;
        flex-direction: row;
        width: 70vh;
        overflow: hidden;
        margin: 1em;
        border-radius: 1em;
        background: rgba(157, 255, 218, 0.31);

        .card-img-top{
            height: 20em;
            background-size: cover;
            background-position: center;
        }

        .location-body{
            padding: 1em;
        }
    }

}

.admin-location-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 90%;
    margin-top: 5em;

    .card {
        display: flex;
        flex-direction: row;
        border-radius: 1em;
        background: rgba(157, 255, 218, 0.31);

        .card-img-top {
            height: 20em;
            background-size: cover;
            background-position: center;
        }

        .location-body {
            padding: 1em;
            display: flex;
            flex-direction: column;
        }
    }
}

.nav-selected {
    background: rgba(173, 173, 173, 0.5);
    border-radius: 2em;
    font-weight: bold;
}

.nav-user-info{
    display: flex;
    background: rgba(173, 173, 173, 0.5);
    border-radius: 2em;

    .manage-div{
        display: flex;
        align-items: center;
    }
}

.username-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1em 0 1em;

    .small-text{
        font-size: small;
        font-weight: bold;
    }

    p{
        margin: 0;
    }
}

.manage-container{
    display: flex;
    justify-content: space-between;
    margin: 5em;

    .manage-nav{
        display: flex;
        background: rgba(154, 229, 203, 0.3);
        width: 20%;
        margin: 1em;
        border-radius: 2em;
        padding: 1em;

        .manage-ul{
            width: 100%;
        }

        .manage-li{
            background: rgba(0, 0, 0, 0.05);
            margin: .5em;
            padding: .5em .5em .5em 1em;
            border-radius: 1em;
        }

        .manage-li:hover{
            background: rgba(0, 0, 0, 0.1);
            cursor: pointer;
            text-decoration: underline;
        }

        .manage-icon{
            margin-right: .3em;
        }

        .li-emphasis{
            background: rgba(0, 0, 0, 0.15) !important;
            cursor: default !important;
            text-decoration: none !important;
            font-weight: bold;
            font-size: larger;
            text-align: center;
            padding: .5em;
        }

        .li-break{
            background: none !important;
            cursor: default !important;
            height: 1em;
        }

    }

    .manage-content{
        display: flex;
        justify-content: center;
        background: rgba(158, 190, 177, 0.3);
        width: 80%;
        margin: 1em;
        border-radius: 2em;
        padding: 1em;
        height: 70vh;
        overflow: scroll;
        overflow-x: hidden;
    }
}

.modal-overlay{
    background-color: rgba(0,0,0,0.30);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;


    .modal-content{
        position: fixed;
        width: 50%;
        max-width: 800px;
        padding: 2em;
        border-radius: 2em;
        background-color: rgba(154, 229, 203, 0.5);
        filter: drop-shadow(0vh 0vh .5vh black);
        backdrop-filter: blur(5px);
    }

    .modal-close{
        position: absolute;
        top: 1em;
        right: 1em;
        cursor: pointer;
    }
}

.schedule-section{
    background: rgba(0,0,0,0.15);
    margin-top: .5em;
    border-radius: 1em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
}

.appointment-container{
    width: 90%;

    .appointment-card{
        background-color: rgba(0,0,0,0.10);
        border-radius: .5em;
        padding: 1em;
        margin: 1em;
    }
}

.information-fetch{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.information-warning{
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.15);
    padding: .5em;
    border-radius: 1em;
}

.user-manage-component{
    display: flex;
    flex-direction: column;
    width: 90%;
    .user-manage-div{
        padding: 1em;
        margin: 1em;
        background-color: rgba(0,0,0,0.30);
        border-radius: 1em;
    }
    .user-info-div{
        display:flex;
    }
}

.contact-center{
    display: flex;
    justify-content: center;

    align-items: flex-start;
    margin: 2em;

    .contact-div{
        display: flex;
        flex-direction: column;
        width: 80vh;
        padding: 2em;
        background-color: rgba(154, 229, 203, 0.3);
        border-radius: 2em;
        margin: 2em;

        h3{
            background: rgba(0, 0, 0, 0.15);
            padding: .3em;
            border-radius: .5em;
            width: 30vh;
            text-align: center;
        }

        .form-control{
            margin: 1em 0 1em 0;
        }
    }

    .contact-error{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.not-claimed{
    background: rgba(255, 144, 144, 0.3);
    padding: .5em;
    border-radius: 1em;
}

.claimed{
    background: rgba(144, 255, 146, 0.3);
    padding: .5em;
    border-radius: 1em;
}

.past-tickets-div{
    display: flex;
    flex-direction: column;
    width: 100%;

    .ticket-index{
        display: flex;
        margin-top: .5em;
        margin-bottom: .5em;
        padding: 1em;
        background-color: rgba(0,0,0,0.15);
        justify-content: space-between;
        border-radius: 1em;

        .ticket-details{
            display: flex;
            flex-direction: column;
            text-overflow: ellipsis;
        }

    }

    .ticket-index:hover{
        background-color: rgba(0,0,0,0.20);
        cursor: pointer;
    }
}

.chat-window{
    display: flex;
    flex-direction: column;
    .chat-info-column{
        display:flex;
        .chat-ticket-number {
            background-color: rgba(0,0,0,0.30);
            width: 15vh;
            text-align: center;
            border-radius: 1em;
        }
        .chat-ticket-delete{
            background-color: rgba(255, 0, 0, 0.3);
            width: 15vh;
            text-align: center;
            border-radius: 1em;
            margin-left: 1em;
        }
        .chat-ticket-delete:hover{
            background-color: rgba(255, 0, 0, 0.6);
            cursor: pointer;
        }

        .chat-ticket-claim{
            background-color: rgba(0, 255, 149, 0.3);
            width: 15vh;
            text-align: center;
            border-radius: 1em;
            margin-left: 1em;
        }
        .chat-ticket-claim:hover{
            background-color: rgba(0, 255, 149, 0.6);
            cursor: pointer;
        }

    }

    .chat-ticket-title{
        background-color: rgba(0,0,0,0.30);
        text-align: center;
        border-radius: 1em;
        padding: .2em;
    }
    .chat-box{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: rgba(0,0,0,0.15);
        border-radius: 1em;
        height: 40vh;
    }
    .chat-scroll{
        display: flex;
        flex-direction: column;
        overflow: scroll;
        overflow-x: hidden;

        .right-side{
            display: flex;
            justify-content: flex-end;
            .right-message{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                background: rgba(56,56,56,0.3);
                border-radius: 1em;
                margin: .5em 1em 0 0;
                padding-right: 1em;
                width: 50%;
            }
        }

        .left-side{
            display: flex;
            justify-content: flex-start;
            .left-message{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                background: rgba(255,255,255,0.15);
                border-radius: 1em;
                margin: .5em 0 0 .5em;
                padding-left: 1em;
                width: 50%;
            }
        }

        .name{
            color: #d7d7d7;
            text-decoration: underline;
        }

        .date-timestamp{
            font-size: small;
            color: #d7d7d7;
        }

        h5{
            margin: 0;
        }
        p{
            margin: 0;
        }
    }
    .chat-input{
        display: flex;
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 1em;
        margin: 1em;
        height: 5vh;
        justify-content: space-between;
        align-items: center;
    }
    .chat-send{
        background-color: rgba(56,56,56,0.15);
        font-size: 3vh;
        margin: .1em;
        border-radius: .5em;
        padding: 0 .5em 0 .5em;
    }
    .chat-send:hover{
        cursor: pointer;
        background-color: rgba(56,56,56,0.3);
    }
    input{
        width: 100%;
        height: 90%;
        border-radius: 1em;
        margin: .5em;
        background: rgba(56,56,56,0.15);
        border: none;
    }
}

.admin-location-title{
    background: rgba(0,0,0,0.15);
    text-align: center;
    border-radius: 1em;
}

.admin-button-div{
    display: flex;
    button{
        padding: 1em;
        margin: .5em;
    }
}

.services-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3em;
    gap: 1em;

    .card{
        flex: 1 1 calc(33.33% - 1em);
    }
}

.service-modal{
    overflow: hidden;

    .image-container{
        position: relative;
        z-index: 100;

        img{
            display: block;
            width: 100%;
            height: 6em;
            object-fit: cover;
            object-position: center;
            border-radius: 1em;
        }

        h2{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: bold;
            width: 100%;
            text-align: center;
            text-shadow: 0 0 5px rgba(0, 0, 0, 1);
        }
    }

    .details-container{
        width: 100%;
        border-radius: 0 0 1em 1em;
        background-color: rgba(0,0,0,0.3);
        padding: 1em 0 .5em 0;
        transform: translateY(-10%);

        ul{
            margin: 1em;
        }
    }
}

.home-subtitle{
    text-align: center;
    margin: 1em 1em 1em 1em;
    padding: .5em;
    border-radius: 1em;
    background: rgba(0,0,0,0.15);
}

.stats-container{
    .home-subtitle{
        border-radius: 0;
        margin: 0;
    }
}



