:root{
    --bs-body-font-family: 'Urbanist', sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    height: calc(100vh - 84px);
    margin-top: 84px;
    overflow: hidden;
}

body {
    height: 100%;
    overflow-y: auto;
}

#hero-section{
    background: rgb(0,255,171);
    background: linear-gradient(55deg, rgb(186, 243, 221) 0%, rgba(54, 224, 199, 0.77) 51%, rgba(0,212,255,0.0760504885547969) 100%), url("../public/assets/herobg.png");
    background-size: 300ex;
    padding: 5em;
    filter: drop-shadow(0.5rem 0.15rem 20px #676767);
}

#hero-section h1{
    max-width: 100%;
    font-size: 5em;
}

#hero-section p{
    max-width: 100%;
    font-size: 1.5em;
    padding-left: 20%;
    padding-right: 20%;
}

.row{
    padding: 5em 10em;
}

.stats-container{
    background: linear-gradient(55deg, rgba(9, 105, 108, 0.63) 0%, rgba(122, 224, 209, 0.77) 51%, rgb(116, 229, 178) 100%);
    filter: drop-shadow(0.5rem 0.15rem 20px #676767);
}

.contact-container{
    margin: 5em;
}

.footer-container{
    margin: 2em;
    filter: drop-shadow(0rem 0.15rem 10px #afafaf);
}